/*** Bootstrap overrides ***/

.table td, .table th {
    padding: 0.5rem;
}

/***************************/

body {
    background-color: #696e71;
}

.stats_cont {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 2rem;
    border-radius: 6px;
    background-color: #fbfff4;
}

.stats_table {
}

.team_emoji {
    user-select: none;
}

#coin_img {
    width: 6%;
    margin-bottom: 0.2rem;
}
